.course-item {
  width: 18rem;
  /* margin-left: 1rem; */
  color: black;
}
.course-item .card-body {
  min-height: 5.5rem;
}

.course-item:first-child {
  margin-left: 0;
}

.course-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  /* align-items: space; */
}

.form-control.date-field {
  display: inline-block;
  width: 4rem;
}

.card-color {
  min-height: 10rem;
  background-color: red;
}

a:nth-of-type(2) .card .card-color {
  background-color: green;
}

a:nth-of-type(3) .card .card-color {
  background-color: blue;
}

a:nth-of-type(4) .card .card-color {
  background-color: magenta;
}

a:nth-of-type(5) .card .card-color {
  background-color: cyan;
}

a:nth-of-type(6) .card .card-color {
  background-color: #450084;
}

.course-item {
  text-decoration: none;
}
.card-group {
  margin-bottom: 1rem;
}
.card-group .card-img-top {
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artistic-process {
  font-size: 8rem;
}

.show-out {
  visibility: hidden;
  opacity: 0;
  animation: fade 2s linear;
  /* transition: visibility 0s 2s, opacity 2s linear; */
}

@keyframes fade {
  100% {
    opacity: 0;
    visibility: hidden;
  }
  0% {
    opacity: 1;
    visibility: visible;
  }
}

.hiding {
  visibility: hidden;
  opacity: 0;
}

.student-assignments {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
}


.card.student-piece-activity-group {
  min-width: 250px;
}

.minWidth {
  min-width: 1rem;
}

nav.navbar.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
}